// —————————————————————————————————————————————————————————————————————
// Global Variables
// —————————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————————
// Font families
// —————————————————————————————————————————————————————————————————————

$font-url--google: 'https://fonts.googleapis.com/css?family=Abril+Fatface|Muli';
@import url($font-url--google);

$font-family--sans-serif   : 'Muli', Helvetica, Arial, sans-serif;
$font-family--fantasy      : 'Abril Fatface', fantasy;


// —————————————————————————————————————————————————————————————————————
// Media query breakpoints
// —————————————————————————————————————————————————————————————————————

$medium-breakpoint: '(min-width: 600px)';
$large-breakpoint: '(min-width: 830px)';
